html, body {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        color: white;
        text-decoration: none;
    }

#nav li {
    border-bottom: none;
    font-size: 18px;
}

.nav-info {
    float: right !important;
}

#error_msg li {
    color: red;
    font-size: 14px;
}
