@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
    ViewBag.Title = "Index";
}

<style>
    .el-carousel__item img {
        width: 100%;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>

<div id="home-index">
    <el-carousel :interval="3000" type="card" height="550px">
        <el-carousel-item v-for="item in pics" :key="item">
            <img :src="item" />
        </el-carousel-item>
    </el-carousel>
</div>

@section scripts
    {
    <script>
        var app = new Vue({
            el: "#home-index",
            data() {
                return {
                    pics: ["/images/1.jpg",
                        "/images/2.jpg",
                        "/images/3.jpg",
                        "/images/4.jpg",
                        "/images/5.jpg"]
                };
            }
        });
    </script>
}
