@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico?v=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico?v=1" />
    <link href="~/css/site.css?v=1111" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
</head>
<body>
    <div id="nav">
        <el-menu :default-active="activeIndex"
                 mode="horizontal"
                 background-color="#545c64"
                 text-color="#fff"
                 active-text-color="#fff">
            <el-menu-item index="1" @@click="returnHome">
                <img src="~/images/iron_man.png" width="45" />
                Fast1804统一认证平台
            </el-menu-item>
            <el-submenu v-if="name !== ''" class="nav-info" index="2">
                <template slot="title">
                    <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                    @name
                </template>
                <el-menu-item index="2-1" @@click="logout">注销</el-menu-item>
            </el-submenu>
            <el-menu-item v-else class="nav-info" index="2"><a href="~/grants">登录</a></el-menu-item>
        </el-menu>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        var app = new Vue({
            el: "#nav",
            data() {
                return {
                    activeIndex: '1',
                    name: '@name',
                };
            },
            methods: {
                returnHome() {
                    window.location.href = "/";
                },
                logout() {
                    this.$confirm('此操作将永久退出此系统, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        var data = { logoutId: null }
                        var that = this;
                        fetch("/Account/Logout",
                            {
                                method: "POST",
                                body: JSON.stringify(data)
                            }).then(function (res) {
                                if (res.status === 200) {
                                    that.name = '';
                                    that.$message({
                                        type: 'success',
                                        message: '退出成功!'
                                    });
                                    window.location.href = '/';
                                }
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消退出'
                        });
                    });
                }
            }
        });
    </script>
</body>
</html>
